
// @media screen {
//  $ min-width: 900px
    
// }

    // /* большие телефоны и маленькие планшеты */
// @media screen and (min-width: 320px;) {
    
// }

    //  планшеты и маленькие мониторы 
    // @media screen and (min-width: 800px;) {}

    // /* ноутбуки и настольные ПК */
    // @media screen and (min-width: 1200px;) {}
        
        





// @media all and (orientation: landscape), all and (min-width: 320px; max-width: 480px){
//  .header-top{
//      flex-direction column;
//  }
// }


// @media all and (orientation: landscape), all and (min-width: 480px; max-width: px) { ... }



// @media screen and (min-width: 319px max-width: 335px ) {
//   ul.nav-menu {
//     display flex
//     flex-direction column
//     justify-content flex-start
//     background-color #FFF 
//     }
// }
  
// @media screen and (min-width: 180px) and (max-width: 320px){
//   .wrapper {
//     margin 200px
//   }
//   .page-header {
//     .nav-menu{
//       margin-top .1em
//       background-color green  
//     }
//     .promo {
//       margin-top auto
//     }
//   }
//   .consult {}
//   .headway {}
//   .familyway {}
//   .escort {}
//   .book {}
//   .footer-page {}
//   .forma-svjazi {}
// }

@media screen and (min-width: 321px) and (max-width: 420px){
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
}
@media screen and (min-width: 421px) and (max-width: 740px){
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
}

@media screen and (min-width: 741px) and (max-width: 1200px){
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
}

@media screen and (min-width: 1201px) and (max-width: 1920px){
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
}

@media screen and (min-width: 1920px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
}
//- ///////////////////////////////////////////
//- 
//- 
//- ANOTHER MEDIA
//- 
//- 
//- ///////////////////////////////////////////

// @media print and (min-width: 180px) and (max-width: 320px) {
//   .page-header {}
//   .consult {}
//   .headway {}
//   .familyway {}
//   .escort {}
//   .book {}
//   .footer-page {}
//   .forma-svjazi {}
//   }
    
// @media print and (min-width: 180px) and (max-width: 320px) {
//   .page-header {}
//   .consult {}
//   .headway {}
//   .familyway {}
//   .escort {}
//   .book {}
//   .footer-page {}
//   .forma-svjazi {}
//   }
    
// @media print and (min-width: 180px) and (max-width: 320px) {
//   .page-header {}
//   .consult {}
//   .headway {}
//   .familyway {}
//   .escort {}
//   .book {}
//   .footer-page {}
//   .forma-svjazi {}
//   }



//- ///////////////////////////////////////////
//- 
//- 
//- HANDHELD ___ ANOTHER MEDIA
//- 
//- 
//- ///////////////////////////////////////////

@media handheld and (min-width: 180px) and (max-width: 320px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media handheld and (min-width: 180px) and (max-width: 320px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media handheld and (min-width: 180px) and (max-width: 320px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }


  //- ///////////////////////////////////////////
  //- 
  //- 
  //- TV ___ ANOTHER MEDIA
  //- 
  //- 
  //- ///////////////////////////////////////////

@media tv and (max-width: 180px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media tv and (min-width: 181px) and (max-width: 320px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }
  
@media tv and (min-width: 321px) and (max-width: 480px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }   
    
@media tv and (min-width: 321px) and (max-width: 480px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }    
  
@media tv and (min-width: 481px) and (max-width: 600px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }  
  
@media tv and (min-width: 601px) and (max-width: 900px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media tv and (min-width: 901px) and (max-width: 1200px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media tv and (min-width: 1201px) and (max-width: 1920px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media tv and (min-width: 1921x) and (max-width: 4800px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }

@media tv and (min-width: 4801px) and (max-width: 18000px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
  }
@media tv and (min-width: 18001px) {
  .page-header {}
  .consult {}
  .headway {}
  .familyway {}
  .escort {}
  .book {}
  .footer-page {}
  .forma-svjazi {}
    }
//- ///////////////////////////////////////////
//- 
//- 
//- 
//- 
//- 
//- 
//- Тип носителя: handheld, print, projection, screen, tty, tv
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- 
//- ///////////////////////////////////////////


// @media screen and (min-width: 321px) and (max-width: 335px){
//   .page-header {}
//   .consult {}
//   .headway {}
//   .familyway {}
//   .escort {}
//   .book {}
//   .footer-page {}
//   .forma-svjazi {}
// }


// @media print {
  
//   }
// @media screen and (min-width: 700px) and (max-width: 1200px){
//   ul.nav-menu {
//     background-color transparent 
//     display flex
//     flex-direction row
//     justify-content flex-start
//     }
//   .header-top {
//     flex-direction column
//  }
//   .header-top .btn-header {
//     align-self center
//   }
// }

// pxz1

//   .media_page-header {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_consult {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_headway {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_familyway {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_escort {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_book {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_footer-page {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }
  
//   .media_.forma-svjazi {
//     .f {
//       .container {}
//       .section-title {

//       }
//     }
//   }









//- ///////////////////////////////////////////
 //- 
 //- 
 //- 
 //- 
 //- 
 //- Sajzy
 //- 280-320, 321-380, 381-480, 481-640, 641-780, 781-820, 821-980, 980-1000, 1001-1200, 12001-1400, 1401-1600, 1601-1800, 1801-1900, 1901-2400, 2400-4800, 4801-6000, 6001-8000, 8001-12000, 12001-18000
 //- 
 //- VIDY SIZE'ov
 //- px, em, rem, vh, %, pt
 //- 
 //- 
 //- VARIANTS MEDIA NAMING
 //- .page-header
 //- .consult
 //- .headway
 //- .familyway
 //- .escort
 //- .book
 //- .footer-page
 //- .forma-svjazi
 //- .media_
 //- 
 //- ///////////////////////////////////////////
  
  // .media_ {
  //   .f {
  //     .container {}
  //     .section-title {

  //     }
  //   }
  // }
