// .grid-header {
// 	display grid
// 	// grid-tamplate-rows 1fr 1fr
// 	// grid-tamplate-columns 1fr
// 	grid-tamplate-areas "
// 		.page-header
// 		.consult
// 		.headway
// 		.familyway
// 		.escort
// 		.book
// 		.footer-page
// 		.forma-svjazi
// 		.media_
// 	"
// 	grid-tamplate-columns 50% 50%
// }
// .header-top {

// }
// .consult {
// 	display grid
// }
// .headway {
// 	display grid
// }
// .familyway {
// 	display grid
// }
// .escort {
// 	display grid
// }
// .book {
// 	display grid
// }
// .footer-page {
// 	display grid
// }
// .forma-svjazi {
// 	display grid
// }