// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
// 180*380px
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 180px)  and (max-width: 380px){
.grid-escort{
  width 100vw
  display flex
  flex-direction column
  align-items center
}

.section-polovinka {
  display flex
  flex-direction column
  
}

.headway {
  margin-right 8vw
  margin-left 3vw
  box-sizing border-box
  width 90vw
  background-color teal 
  .container {  
    .headway-header{
      flex-direction column
      justify-content center
      align-items center
      width 90vw
      .btn-manual {
        margin-top 5vh
      }
      .section-title {
        text-align center
       
      }
    }
  }
}
.way-item.headway-item__1 {
  flex-direction column
  ul {
    margin 0
    padding 0
    margin 0 auto
    margin-top 5vh
    min-width 80vw
  }
}
.wayup {
  flex-direction column
  align-items center
  .wayup-item {
    margin-bottom 1vh
  }
  .wayup-arrow {
    background url('../img/general/arrow-bt.png') no-repeat 50% 50%
    background-size contain 
    width 10vw
    height 10vh
  }
}
.page-header {
  background: linear-gradient(to right, transparent 10%, black), url("../img/general/header-bg.jpg") no-repeat 50% 50%;
  }
.consult {
  .container {
    flex-direction column 
 
    .consult-item {
      text-align left
      margin-bottom 0
      padding-bottom 3vh
      background linear-gradient(to left, transparent 80%, transparent 88%, rgba(102,169,0, .5), transparent 90%, rgba(102,169,0, .98)), 
      linear-gradient(to right, transparent 90%, rgba(102,169,0, .78)) 
      &:before {
        width 50vw
        height 15vh
      }
    }
    }
}
}
// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
// 371*780px
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 371px)  and (max-width: 780px) {
.section-polovinka {
  display flex
  flex-direction row
}

.headway {
  margin-right 8vw
  margin-left 3vw
  box-sizing border-box
  width 90vw
  background-color teal 
  .container {
    .headway-header{
      flex-direction column
      justify-content center
      align-items center
      width 90vw
      .btn-manual {
        margin-top 5vh
      }
      .section-title {
        text-align center
      }
    }
  }
}
.way-item.headway-item__1 {
  flex-direction column
}
.wayup {
  flex-direction column
  align-items center
  .wayup-item {
    margin-bottom 3vh
    width 90vw
  }
  .wayup-arrow {
    background url('../img/general/arrow-bt.png') no-repeat 50% 50%
    background-size contain 
    width 10vw
    height 10vh
    margin-bottom 3vh
  }
}

.consult {
  .container {
    flex-direction column 
    margin-top 10vh
    .consult-item {
      text-align left
      margin-bottom 0
      padding-bottom 3vh
      background linear-gradient(to left, transparent 80%, transparent 88%, rgba(102,169,0, .5), transparent 90%, rgba(102,169,0, .98)), 
      linear-gradient(to right, transparent 90%, rgba(102,169,0, .78)) 
      &:before {
        width 50vw
        height 15vh
      }
    }
    }
}
.header-top {
  // background-color teal
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  // min-width 95%
  width 90vw
}
ul.nav-menu {
  flex-direction column
  justify-content space-around
  align-items center
}
}
// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
// 781*1100
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 781px)  and (max-width: 1100px){
.grid-consult {
  width 100vw
  
}

.header-top {
  display flex
  flex-direction row
  
    
  }
ul.nav-menu {
  flex-direction column
  align-items flex-start
  margin-bottom 0
  }
}


// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
// 1101*1400
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1101px)  and (max-width: 1400px){
.header-top {
  // background-color teal
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  // min-width 95%
  width 90vw
  .nav-menu {
    flex-direction row
  }
  }

.btn-header {
  align-self flex-end
  }
.promo {
  padding-left 1vw
  }
.h1-title{
  margin 1vw
  }
}

// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
//      > 1401px
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1401px) {
.headway {
  .container {
    width 70vw
    margin-left auto
    margin-right auto
  }
}
.consult {
  .container {
    padding-top 20vh
    
    // margin-top 20vh
    }
}
.grid-header {
  width 80vw
  margin-left auto
  margin-right auto
}
.header-top {
    flex-direction row
}
.nav-menu {
  flex-direction row
}

}







// ///////////////////////////////////////////////////////////////////////////////////////////////////
// 
// 
//      KONEC
// 
///////////////////////////////////////////////////////////////////////////////////////////////////
// @media screen and (min-width: 480px) and (max-width: 1000px) {
//   .header-top {
//     // display flex;
//     // flex-direction column;
//     // height 5vh ;
//     // align-self flex-start;
//     margin-bottom 1vh
//     }
//   }
