tegre = #66a900;
tegrtra = rgba(102,169,0, .4);
tblac = #333333;
tbltr = rgba(0, 0, 0, .6);
// test commita
tb = rgba(0, 0, 0, .6);


// font-family 'Arimo', sans-serif;






// pz = 

// pxz1 = pix-size__before = string['@media screen and (min-width: ']; 
// pxz2 = pix-size__center = string[') and (max-width: ']; 
// pxz3 = pix-size__after = string['@media screen and (min-width: ']; 
// pxz4 = pix-end = string['){}']; 

// переменная времени, часовых поясов, рабочих часов, 4-х сезонная, 3-х квартальная, 12-месячные обновы, аппы, 
КАК СТРОИТЬ МАССИВЫ {


// pxz = pxz_array = pix-size__display_phone = ["280-320, 321-380, 381-480, 481-640, 641-780, 781-820, 821-980, 980-1000, 1001-1200, 12001-1400, 1401-1600, 1601-1800, 1801-1900, 1901-2400, 2400-4800, 4801-6000, 6001-8000, 8001-12000, 12001-18000, "];
}